name: Build

on:
  workflow_call:
    inputs:    
      fake:
        type: boolean
        required: true
      
jobs:
  build: 
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4

      - name: Fake build true
        if: inputs.fake
        run: echo "Fake build"
      
      - name: Fake build false
        if: inputs.fake == false
        run: echo "Real build"
      